
<% if @selection == "" %>
  <p>Artists found when searching for: <%= params[:keywords] %></p>
  <ul>
    <% @artists.each do |artist| %>
      <li><%= link_to artist.artist_name, artist %></li>
    <% end %>
  </ul>
  <p><br>Albums found when searching for: <%= params[:keywords] %> </p>
  <ul>
    <% @albums.each do |album| %>
      <li><%= link_to album.album_name, album %></li>
    <% end %>
  </ul>
<% else %>
  <ul>
    <% @artists.each do |artist| %>
      <% if artist.id == @selection.to_i %>
        <li><%= link_to artist.artist_name, artist %></li>
        <% @albums.each do |album| %>
          <% if album.artist_id == artist.id %>
            <li>  * Album: <%= link_to album.album_name, album %></li>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>
