<div class="container mt-3 mb-4">
<%= content_for(:html_title){@artist.artist_name}%>
<h3 class="fw-bold"><%= @artist.artist_name %></h3>
<% @album.each do |a| %>
  <% if a.artist_id == @artist.id %>
    <p><%= link_to a.album_name, a %> - Rank: <%= a.album_rank %></p>
  <% end %>
<% end %>
<div class="mt-4">
  <%= link_to "Back to artists", artists_path, class: "btn btn-outline-primary" %>
</div>
</div>